extends layout/layout

block content
    h2="edit.pug"

    form(method="POST")
        div
            label(for="name") Name
            input(type="text", name="name", value=amovie.name)
        div
            label(for="summary") Summary
            input(type="text", name="summary", value=amovie.summary)
        div
            label(for="year") Year
            input(type="text", name="year", value=amovie.year)
        div
            label(for="rating") Rating         
            input(type="text", name="rating", value=amovie.rating)
        div
            label(for="genres") Genres 
            input(type="text", name="genres", value=amovie.genres)
        div
            input(type="submit", value="Submit!")

        div
            a(href=`/movies/${amovie._id}/delete`)="지울래?"