extends templates/layout

block content
  main(style="user-select: auto;")

    if err
    p=err
              
    form(class="needs-validation" novalidate="" style="user-select: auto;" method="POST" enctype="multipart/form-data")
      div(class="row g-3" style="user-select: auto;")
        
        div(class="col-12" style="user-select: auto;")
          label(for="name" class="form-label" style="user-select: auto;")="Name"
          input(type="text" class="form-control" name="name" value="" placeholder="Name" style="user-select: auto;", required)

        div(class="col-12" style="user-select: auto;")
          label(for="username" class="form-label" style="user-select: auto;")="User Name"
          input(type="text" class="form-control" name="username" value="" placeholder="User Name" style="user-select: auto;", required)

        div(class="col-12" style="user-select: auto;")
          label(for="password" class="form-label" style="user-select: auto;")="Password"
          input(type="password" class="form-control" name="password" value="" placeholder="Password" style="user-select: auto;", required)

        div(class="col-12" style="user-select: auto;")
          label(for="password2" class="form-label" style="user-select: auto;")="Comfirm Password"
          input(type="password" class="form-control" name="password2" value="" placeholder="Confirm Password" style="user-select: auto;", required)

        div(class="col-12" style="user-select: auto;")
          label(for="photo" class="form-label" style="user-select: auto;")="Photo"
          input(type="file" class="form-control" name="photo" accept="image/*")

      hr(class="my-4" style="user-select: auto;")

      button(class="w-100 btn btn-primary btn-lg" type="submit" style="user-select: auto;")="Join"





