extends templates/layout

block content
    if err
        p=err

    if video
        ul
            li=video.title
            li=video.desc
            li=video.tags
            li=video.owner.username
    if LoggedUser
        if LoggedUser.username === video.owner.username
            a(href=`/videos/${video._id}/edit`)="Edit Video"
        else
            p="You are not the owner of this video"
    else
        p="Not Logined"
