extends templates/layout

block content
    if err
        p=err

    if video
        ul
            li=video.title
            li=video.desc
            li=video.tags
    if user.username === video.owner
            a(href=`/videos/${video._id}/edit`)="Edit Video"
