<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous")
    title="Video Storage Info"

    link(rel="stylesheet", href="/static/test3.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap")
    link(rel="stylesheet", href="/static/layout.css")

  body
    div(class="container" style="user-select: auto;")
      header(class="blog-header lh-1 py-3" style="user-select: auto;")
        div(class="row flex-nowrap justify-content-between align-items-center" style="user-select: auto;")
          div(class="col-4 text-center" style="user-select: auto;")
            a(class="blog-header-logo text-dark" href="/" style="user-select: auto;")="Video Storage Info"
          div(class="col-4 d-flex justify-content-end align-items-center" style="user-select: auto;")
            if !loggedIn          
              a(class="btn btn-sm btn-outline-secondary" href="/join" style="user-select: auto;")="Join"
              a(class="btn btn-sm btn-outline-secondary" href="/login" style="user-select: auto;")="Login"
            if loggedIn
              a(class="btn btn-sm btn-outline-secondary" href="/edit" style="user-select: auto;")="Edit"
              a(class="btn btn-sm btn-outline-secondary" href="/videos/upload" style="user-select: auto;")="Upload"
              a(class="btn btn-sm btn-outline-secondary" href="/logout" style="user-select: auto;")="Logout"
              p=`| Hi! ${loggedUser.username} ^^`
              img(src=`${loggedUser.profileUrl}`)

    block content
    
    footer

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous")
